
{% comment %}
Media for product page and featured product sections
Parameters:
* style: 'full_width' | 'left' | 'right' | 'bottom'
* enable_image_zoom: boolean
{% endcomment %}

<div class="product-images-container">
  <div class="product-medias{% if style != 'full_width' %} product-medias__with-thumbnails product-medias__with-thumbnails--{{ style }}{% else %} product-medias__fullsize{% endif %}">
    <div class="product-medias__main">

      {% comment %}Full size medias will go here{% endcomment %}
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="media in product.media" ref="mediaTargets" {% if style != 'full_width' %}v-bind:class="{ 'product-medias__primary': media === activeMedia }"{% endif %}>
            <div v-if="media.media_type !== 'image'" style="position: relative">
              <img
                src="#"
                v-responsive="media.preview_image.src"
                v-bind:alt="media.alt"
              />
              <button
                type="button"
                class="product-medias__icon"
                tabindex="0"
                v-if="media.media_type !== 'image'"
                v-on:click="onMediaActivate"
                v-bind:data-media-id="media.id"
                aria-label="product-media-button"
              >
                <svg viewBox="0 0 61 61" v-if="media.media_type === 'video' || media.media_type === 'external_video'">
                  <rect x="0.5" y="0.5" width="60" height="60" fill="none" stroke="currentColor" stroke-opacity="0.05" stroke-miterlimit="10"></rect>
                  <path d="M25,21.39a1,1,0,0,0-1.51.86V38.64a1,1,0,0,0,1.55.83l13.11-8.67a1,1,0,0,0,0-1.7Z" fill="currentColor"></path>
                </svg>
                <svg viewBox="0 0 61 61" v-if="media.media_type === 'model'">
                  <rect x="0.5" y="0.5" width="60" height="60" fill="none" stroke="currentColor" stroke-opacity="0.05" stroke-miterlimit="10"></rect>
                  <path d="M40.9,23.07l-8.8-5.14a3.19,3.19,0,0,0-3.21,0l-8.8,5.14a3.24,3.24,0,0,0-1.59,2.79V36.14a3.23,3.23,0,0,0,1.6,2.79l8.8,5.14a3.2,3.2,0,0,0,3.21,0l8.8-5.14a3.23,3.23,0,0,0,1.59-2.79V25.86A3.24,3.24,0,0,0,40.9,23.07ZM21.1,37.2a1.23,1.23,0,0,1-.6-1.06V25.86a1.23,1.23,0,0,1,.6-1.06l8.8-5.14a1.19,1.19,0,0,1,1.19,0l8.8,5.14a1.2,1.2,0,0,1,.36.34L30.74,30a2.23,2.23,0,0,0-1.25,2V42.1Z" fill="currentColor"></path>
                </svg>
              </button>
            </div>

            <div v-if="media.media_type === 'image'">
              <div
                class="product-medias__media"
                data-media-type="image"
                v-bind:data-media-id="media.id"
              >
                <img
                  src="#"
                  v-responsive="media.src"
                  v-bind:alt="media.alt ? media.alt : product.title"
                  {%- if enable_image_zoom %}v-bind:data-image-zoom="media.src"{% endif -%}
                  v-bind:width="media.width"
                  v-bind:height="media.height"
                  sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                />
                {% if enable_image_zoom %}
                  <div class="hidden featured-image-loader">
                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">{{ 'collections.paginate.load_more' | t }}</span>
                  </div>
                {% endif %}
              </div>
            </div>

            <div class="button-wrap" v-if="firstOrActiveModel">
              <button
                  type="button"
                  aria-label="{{ 'products.product.view_in_space_label' | t }}"
                  class="btn product-medias__view-in-space"
                  data-shopify-xr
                  v-bind:data-shopify-model3d-id="firstOrActiveModel ? firstOrActiveModel.id : ''"
                  data-shopify-title="{{ product.title | escape }}"
                  data-shopify-xr-hidden
              >
                  <i class="fa fa-cube" aria-hidden="true"></i>
                  {{ 'products.product.view_in_space' | t }}
              </button>
          </div>
          </div>
        </div>
        {% if product.media.size > 1 %}
          <div class="swiper-pagination"></div>
        {% endif %}
      </div>

      <noscript>
        {% comment %}Big image when JS is not there to show media{% endcomment %}
        {% if product.media.size > 0 %}
          <img src="{{ product.media[0].preview_image | img_url: '1000x' }}" alt="{{ product.media[0].alt }}" loading="lazy" />
        {% else %}
          {{ 'product-1' | append: current | placeholder_svg_tag: 'icon icon--placeholder' }}
        {% endif %}
      </noscript>
    </div>

  </div>
</div>
