{% comment %}
Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% if swatch == blank %}
<div class="swatch error">
  <p>You must include the snippet swatch.liquid with the name of a product option.</p>
  <p>Use: <code>{% raw %}{% render 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% render 'swatch' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}
{% assign color_langs = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' %}

{% for option in product.options %}
{% if option == swatch %}
{% assign found_option = true %}
{% assign option_index = forloop.index0 %}
{% assign downcased_option = swatch | downcase %}
{% if color_langs contains downcased_option %}
{% assign is_color = true %}
{% endif %}
{% endif %}
{% endfor %}

{% unless found_option %}
<div class="swatch error">
  <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does
    not belong to your product.</p>
  <p>Use <code>{% raw %}{% render 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% render 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is
    <code>'Color'</code>.</p>
</div>
{% else %}

{% assign hasAnyAvailableVariant = true %}

{% if hide_soldout_variants %}
{% comment %} Does this option set have ANY available variants? {% endcomment %}
{% assign hasAnyAvailableVariant = false %}

{% for variant in product.variants %}
{% assign value = variant.options[option_index] %}
{% assign available = variant.available %}

{% for v in product.variants %}
{% if v.id != variant.id and v.options[option_index] == value and v.available %}
{% assign hasAnyAvailableVariant = true %}
{% elsif variant.options.size > 0 and v.options[option_index] == value and v.available %}
{% assign hasAnyAvailableVariant = true %}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if hasAnyAvailableVariant %}
<div class="swatch clearfix" data-option-index="{{ option_index }}">

  {% if product.options_with_values.size > 0 or is_color == true %}
  <div class="header">{{ swatch }}</div>
  {% endif %}

  <div class="swatch-items-wrapper clearfix">
    {% assign values = '' %}
    {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}

    {% comment %}Check if another variant with same value for given option is available{% endcomment %}
    {% assign available = variant.available %}
    {% for v in product.variants %}
    {% if v.id != variant.id and v.options[option_index] == value and v.available %}
    {% assign available = true %}
    {% endif %}
    {% endfor %}

    {% assign hide = false %}
    {% if hide_soldout_variants %}
    {% if available == false %}
    {% assign hide = true %}
    {% endif %}
    {% if product.options_with_values.size == 1 and available == false %}
    {% assign hide = true %}
    {% endif %}
    {% endif %}

    {% unless values contains value or hide %}

    {% if values.size > 0 %}
    {% assign values = values | join: '|' %}
    {% endif %}
    {% assign values = values | append: '|' | append: value %}
    {% assign values = values | split: '|' %}

    <div data-value="{{ value | escape }}"
      class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if available %}available{% else %}soldout{% endif %}">
      {% if is_color %}
      <div class="tooltip">{{ value }}</div>
      {% endif %}
      <input id="{{ section.id }}-swatch-{{ option_index }}-{{ value | escape }}" class="visually-hidden" type="radio"
        name="option-{{ option_index | plus: 1 }}" value="{{ value | escape }}" {% if
        current_variant.options[option_index]==value %} checked{% endif %}
        v-model="option{{ option_index | plus: 1 }}" />
      {% if is_color %}
      <label for="{{ section.id }}-swatch-{{ option_index }}-{{ value | escape }}"
        style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})">
      </label>
      {% else %}
      <label for="{{ section.id }}-swatch-{{ option_index }}-{{ value | escape }}">
        {{ value }}
      </label>
      {% endif %}
    </div>
    {% endunless %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% if product %}
  <div class="bottom-purchase-info">
    <div class="bottom-purchase-info__container">
      <div class="bottom-purchase-info__image">
        <img src="{{ product.selected_or_first_available_variant.featured_media | default: product.featured_media | img_url: '120x' }}"
          alt="{{ product.title | escape }}" class="js-bottom-variant-image" data-variant-id="{{ product.selected_or_first_available_variant.id }}"
          width="70" height="70">
      </div>
      <div class="bottom-purchase-info__content">
        <h3 class="bottom-purchase-info__title">{{ product.title | escape }}</h3>
        <div class="bottom-purchase-info__review-badge">
          {% render 'proviews_review_badge' with product as product %}      
        </div>
        <span class="visually-hidden bottom-purchase-info__compare-price js-bottom-compare-price">
          Regular price
        </span>
        <span id="BottomProductPrice" class="bottom-purchase-info__price" itemprop="price" content="{{ product.selected_or_first_available_variant.price | divided_by: 100 }}"
          v-bind:content="variant ? variant.price / 100 : null"
          v-html="variant ? money(variant.price) : 'Unavailable'">
          <span class="money">{{ product.selected_or_first_available_variant.price | money }}</span>
        </span>
      </div>
      <div class="bottom-purchase-info__dropdown-wrapper-new-style">
        
        {% if product.options.size > 0 and product.variants.size > 1 %}
        {% for option in product.options %}
        {% assign option_index = forloop.index0 %}
        {% assign downcased_option = option | downcase %}
        {% assign is_color = false %}
        {% assign color_langs = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' %}
        {% if color_langs contains downcased_option %}
          {% assign is_color = true %}
        {% endif %}
        
        <div class="bottom-purchase-dropdown">
          <div class="bottom-purchase-dropdown__header">{{ option }}</div>
          <div class="bottom-purchase-dropdown__wrapper">
            <select class="bottom-purchase-dropdown__select" name="option-{{ option_index | plus: 1 }}" v-model="option{{ option_index | plus: 1 }}">
              {% for value in product.options_with_values[option_index].values %}
              
              {% assign variant_available = false %}
              {% for variant in product.variants %}
                {% if variant.options[option_index] == value and variant.available %}
                  {% assign variant_available = true %}
                {% endif %}
              {% endfor %}
              
              <option 
                value="{{ value | escape }}" 
                {% if product.selected_or_first_available_variant.options[option_index] == value %}selected="selected"{% endif %}
                {% unless variant_available %}disabled="disabled"{% endunless %}
              >
                {{ value }}{% unless variant_available %} - Sold Out{% endunless %}
              </option>
              {% endfor %}
            </select>
            <div class="bottom-purchase-dropdown__arrow">
              <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
  
        <div class="bottom-purchase-dropdown__quantity-wrapper">
          <div class="js-qty bottom-qty-container">
            <button
              type="button"
              aria-label="-"
              class="js-qty__adjust js-qty__adjust--minus icon-fallback-text bottom-qty-button"
              data-action="decrease"
              data-quantity-button="decrease"
            >
              <i class="fa fa-minus" aria-hidden="true"></i>
              <span class="fallback-text">−</span>
            </button>
            <input
              type="number"
              class="js-qty__num"
              value="1"
              min="1"
              aria-label="quantity"
              pattern="[0-9]*"
              name="quantity-bottom"
              id="BottomQuantity"
              data-quantity-input="bottom"
              data-main-quantity-selector="[name='quantity']:not(#BottomQuantity)"
            >
            <button
              type="button"
              aria-label="+"
              class="js-qty__adjust js-qty__adjust--plus icon-fallback-text bottom-qty-button"
              data-action="increase"
              data-quantity-button="increase"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span class="fallback-text">+</span>
            </button>
          </div>
        </div>
        
        <div class="bottom-purchase-info__btn-container">
          <div class="paymentButtonsWrapper">
            <div id="addtocart"></div>
            <button
              type="submit"
              aria-label="{{ 'products.product.add_to_cart' | t }}"
              v-cloak
              name="add"
              id="AddToCart"
              class="btn{% if buttons_block.settings.show_smart_checkout and product.selling_plan_groups.size == 0 %} add-to-cart--secondary{% endif %}"
              v-bind:class="{ disabled: addToCartDisabled }"
              v-bind:disabled="addToCartDisabled"
            >
              <i
                class="fa fa-circle-o-notch fa-spin fa-2x fa-fw js"
                v-if="state === 'adding'"
                v-cloak
              ></i
              ><span class="sr-only">{{ 'collections.paginate.loading' | t }}</span>
              <span
                class="{% if current_variant.available %}js{% endif %}"
                v-if="state === 'ready'"
                v-cloak
              >
                {{- 'products.product.add_to_cart' | t -}}
              </span>
              <span class="js" v-if="state === 'added'" v-cloak>
                {{- 'products.product.added' | t -}}
              </span>
              <span
                class="{% unless current_variant.available %}js{% endunless %}"
                v-if="state === 'soldOut'"
                v-cloak
              >
                {{- 'products.product.sold_out' | t -}}
              </span>
              <span class="js" v-if="state === 'unavailable'" v-cloak>
                {{- 'products.product.unavailable' | t -}}
              </span>
            </button>

            <noscript>
              <button type="submit" class="btn" aria-label="{{ 'products.product.add_to_cart' | t }}">
                <span>{{ 'products.product.add_to_cart' | t }}</span>
              </button>
            </noscript>

            {% if buttons_block.settings.show_smart_checkout %}
              {{ form | payment_button }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %} 
{% endunless %}

{% endif %}

