<style>
    .text-with-icons__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
      gap: 20px;
    padding: 0 20px;
}
.text-with-icons__block.text-center {
    display: flex;
    flex-direction: column;
    flex: none;
     column-gap: 10px;
    width: 32%;
    padding-top: 2rem;
}
.Share_Links button {
    border: none;
    color: #fff;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    background: #000;
}
p.Author_Sharing {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-with-icons__title.section-header .text-center {
    line-height: 1.2;

    margin: 0;
    padding-top: 1rem;
}
.text-with-icons__title.section-header {
    margin: 0;
}
@media screen and (max-width: 767px){
    .text-with-icons__block.text-center{
        width: 100%;
    }
}


</style>


{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

    <div  class="text-with-icons {% if section.settings.class != blank %} {{ section.settings.class }} {% endif %}"
      data-section-id="{{ section.id }}"
      data-section-type="text-with-icons"
    >
      <div class="page-width">
        {%- if section.settings.title != blank -%}
          <div
            class="
              text-with-icons__title
              section-header"
          >
            <h1 class="text-{{ section.settings.align_text }}">{{ section.settings.title }}</h1>
          </div>
        {%- endif -%}
        <div
          class="
            text-with-icons__blocks
            has-{{ section.settings.desktop_columns_per_row }}-per-row"
          data-block-count="{{ section.blocks.size }}"
          >
          {% for block in section.blocks %}
          
            <div class="text-with-icons__block text-{{ section.settings.align_text }}" {{ block.shopify_attributes }}>
              <div class="content-wrapper">
              <div class="text-with-icons__block-icon">
                <div class="image-wrapperssss">
                    <img src="{{ block.settings.image | img_url : 'master' }}" alt="">
                </div>
              </div>
              <div class="text-with-icons__block-title">
                <h2>{{ block.settings.title }}</h2>
              </div>
              <div class="text-with-icons__block-text acronyms">
                {{ block.settings.acronyms }}
              </div>
              <p class="Author_Sharing">
                <i style="font-size: 24px;" class="fa fa-instagram"></i>
                <a href="{{ block.settings.ins_url }}" target="_blank" title="SilverAnt ambassador Algirdas Wanders" rel="noopener noreferrer">{{ block.settings.ins }}</a>
              </p>
              <div class="text-with-icons__block-text">
                {{ block.settings.text }}
              </div>
              <div class="Share_Links">
              <a href="{{ block.settings.share_url  }}" target="_blank" title="SilverAnt ambassador youtube account NomadsTrails " rel="noopener noreferrer">
                <button class="button">{{ block.settings.more }}</button>
            </a>
        </div>
               {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
                 <div class="text-with-icons__block-link">
                 <a href="{{ block.settings.button_link }}">{{ block.settings.button_label }} <span class="fa fa-angle-right" style="margin-left:8px;"></span></a>
                 </div>
                 {%- endif -%}
             {%- if block.settings.code != blank  -%}
                    <div class="additional-info">
                    {{ block.settings.code }}
                    </div>
                {%- endif -%}
                </div>
            </div>
          {% endfor %}
        </div>
        <div class="text-with-icons__button">
          {%- if section.settings.button_label != blank -%}
            <a href="{{ section.settings.button_link }}" class="btn btn--secondary">
              {{ section.settings.button_label }}
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
    
    {%- if section.settings.divider -%}</div>{%- endif -%}
    
    {% style %}
      #shopify-section-{{ section.id }} .icon {
        color: {{ section.settings.icon_color }};
      }
    {% endstyle %}
    
    {% schema %}
    {
      "name": "Text columns with image",
      "class": "index-section",
      "settings": [
          {
          "type": "text",
          "id": "class",
          "label": "Section Class"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "align_text",
          "label": "Text alignment",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ]
        },
        {
          "type": "range",
          "id": "desktop_columns_per_row",
          "label": "Desktop columns per row",
          "default": 3,
          "min": 2,
          "max": 4,
          "step": 1
        },
        
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "divider",
          "label": "Show section divider",
          "default": false
        }
      ],
      "blocks": [
        {
          "type": "text_block",
          "name": "Column",
          "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
            {
              "type": "text",
              "id": "title",
              "label": "Heading",
              "default": "Example title"
            },
            {
                "type": "text",
                "id": "acronyms",
                "label": "Acronyms",
                "default": "Example title"
              },
              {
                "type": "url",
                "id": "ins_url",
                "label": "Link"
              },
              {
                "type": "text",
                "id": "ins",
                "label": "Acronyms",
                "default": "Author Link"
              },
              {
                "type": "url",
                "id": "share_url",
                "label": "Link"
              },
              {
                "type": "text",
                "id": "more",
                "label": "Acronyms",
                "default": "Button Label"
              },
            {
              "type": "richtext",
              "id": "text",
              "label": "Text",
              "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products.</p>"
            },
           {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "URL"
        },
         {
          "type": "liquid",
          "id": "code",
          "label": "Liquid Code"
        }
            
          ]
        }
      ],
      "presets": [
        {
          "name": "Text columns with image",
          "blocks": [
            {
              "type": "text_block"
            },
            {
              "type": "text_block"
            },
            {
              "type": "text_block"
            }
          ]
        }
      ],
      "disabled_on": {
        "groups": ["footer", "header", "custom.popups"]
      }
    }
    {% endschema %}
    
    