
<style>

.klarna_a_item {
    display: flex;
}
.klarna_a_right {
    width: 30%;
}
.klarna_a_left {
    width: 66%;
}

.klarna_a_item {
    display: flex;
    width: 100%;
    justify-content: space-between;

    align-items: center;
}

</style>
<div class="image-and-text content-klarna" id="page-image-klarna">
    <div class="klarna main-page-container">
     
     {%- if section.settings.title != blank  -%}
        <div class="sec-ttl {{ settings.title_align}}">
        <div class="klarna-text">{{ section.settings.title }}</div>  
          <div class="kliar-txt">{{ section.settings.subtitle }}</div>
      </div>
     {% endif %}
        
    </div>
   
    <div class="klarna_list">
      {% for block in section.blocks %}
      <div class="klarna_a_item">
      
        
        <div class="klarna_a_right">
          <div class="klarna_a_text">
            <div class="kl-text">{{ block.settings.title }}</div>
            <div class="kl-txt">{{ block.settings.text }}</div>
               {% if block.settings.button_label != blank %}
          <a href="{{ block.settings.button_link }}" class="btn">
            {{ block.settings.button_label }}
          </a>
        {% endif %}
          </div>
        </div>
          <div class="klarna_a_left">
          <div class="klarna_a">
            {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url : ' ' }}" alt="">
            {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% schema %}
    {
      "name": "Snow Peak",
      "class": "index-section",   
      "max_blocks": 100,
      "settings":[
       {
             "type": "checkbox",
             "id": "hide_mobile",
             "label": "Hide Section in Mobile?",
             "default": false
       },
       {
             "type": "text",
             "id": "title",
             "label": "Title"
       },
      {
             "type": "text",
             "id": "subtitle",
             "label": "Sub Title"
       }
      ],
      "blocks": [
        {
          "type": "text_block",
          "name": "Column",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },	 
            {
              "type": "text",
              "id": "title",
              "label": "Heading",
              "default":"Example Heading"
            },
            {
              "type": "richtext",
              "id": "text",
              "label": "Text",
              "default":"<p>Use this text to display your store information</p>"
            },
             {
              "type": "text",
              "id": "button_label",
              "label": "Button label",
              "default": "Optional button"
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "Button link"
            }        
          ]
        }
      ],
      "presets": [{
        "name": "Snow Peak",
        "category": "3. Banners" 
      }]
    }
  {% endschema %}